.list {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.contact {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #d32f2f;
}
